{
	"$schema": "https://json.schemastore.org/swcrc",

	"module": {
		"type": "es6",
		// These are defaults.
		"strict": false,
		"strictMode": true,
		"lazy": false,
		"noInterop": false,
		"resolveFully": true
	},

	"jsc": {
		"parser": {
			"syntax": "typescript",
			"dynamicImport": true,

			"decorators": false
		},

		"baseUrl": "./",
		"transform": null,
		"target": "esnext",
		"loose": false,
		"externalHelpers": false,
		"paths": {
			"shared/*": ["./shared/src/*"],
			"@shared/*": ["./src/shared/*"],
			"@lexical/react/*": ["./src/lib/*"],
			"@theme/*": ["./src/themes/*  "],
			"@ui/*": ["./src/playground/ui/*"],
			"react": ["./src/react.svelte.ts"],
			"@nodes/*": ["./src/playground/nodes/*"],
			"@plugins/*": ["./src/playground/plugins/*"]
		},
		// Requires v1.2.50 or upper and requires target to be es2016 or upper.
		"keepClassNames": false
	},
	"exclude": ["src/playground/plugins/AutoEmbedPlugin/index.ts"],
	"minify": false
}
